body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: #1c1c1c;
    color: white;
    padding: 15px 30px;
}

.logo {
    margin: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 40px;
}

.hero {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #2b7cff;
    color: white;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

.btn.delete {
    background: red;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 250px;
    padding: 15px;
    border-radius: 8px;
}

.card img {
    width: 100%;
}

.details img {
    width: 400px;
}