<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offroad</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

<header>
    <nav class="navbar">
        <h2 class="logo">Offroad</h2>

        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'destination-list' %}">Destinations</a></li>
            <li><a href="{% url 'vehicle-list' %}">Vehicles</a></li>
            <li><a href="{% url 'story-list' %}">Stories</a></li>
            <li><a href="{% url 'story-create' %}">Add Story</a></li>
        </ul>
    </nav>
</header>

<main class="container">

    {% block content %}
    {% endblock %}

</main>

<footer>
    <p>©Offroad </p>
</footer>

</body>
</html>